grid(columns)
  for col in 1..columns
    &_{col}
      width (100% * col / columns)

.gr
  &-row
    width 100%
    height 100%
    margin-bottom 15px

    &_space
      &_bottom
        &_clear, &:last-child
          margin-bottom 0

    &:after
      content ''
      display block
      width 100%
      clear both

  &-col
    display block
    float left
    height 100%

    grid(12)