*
  margin 0
  padding 0
  box-sizing border-box

html
  min-width 100%
  min-height 100%
  height 100%
  font: 18px Arial, sans-serif

body
  height 100%
  min-height 100%

.container
  width 100%
  min-height 100%
  height 100%

@import variables
@import grid