@import '../../styles/variables'

.post-list
  width 100%
  padding: 0 25px;
  &__item
    width 100%
    border-bottom 1px solid divider-color
    margin-bottom 15px

.post-list-item
  padding: 15px 0;
  border-bottom 1px solid divider-color

  &__header
    font-size 24px
    line-height 1.2
    color primary-text-color
    font-weight normal

  &__header-link
    font-size inherit
    line-height inherit
    color inherit
    text-decoration none

  &__content
    color secondary-text-color
    font-size 12px

  &__row
    margin-bottom 6px

    &:last-child
      margin-bottom 0
