<div class="post-list">
    <section class="post-list-item gr-row gr-row_space_bottom_clear" ng-repeat="post in posts">
        <div class="gr-col gr-col_10">
            <header class="post-list-item__row">
                <h2 class="post-list-item__header">
                    <a class="post-list-item__header-link"
                       ui-sref="postsChange({postId: post._id})">
                        {{::post.header}}
                    </a>
                </h2>
            </header>
            <section class="post-list-item__row post-list-item__content"
                     ng-bind-html="::post.body">
            </section>
        </div>
        <div class="gr-col gr-col_2">
            <section class="post-list-item__row post-list-item__content">
                12 dec 1995
            </section>
        </div>
    </section>
</div>