<nav class="main-menu">
    <a class="main-menu__item main-menu__item_icon_list"
       ui-sref-active="main-menu__item_active"
       ui-sref="postsList"
       title="list">
    </a>
    <a class="main-menu__item main-menu__item_icon_change"
       ui-sref-active="main-menu__item_active"
       ui-sref="postsChange"
       title="change">
    </a>
    <a class="main-menu__item main-menu__item_icon_blank"
       ui-sref-active="main-menu__item_active"
       ui-sref="postsNew"
       title="blank">
    </a>
</nav>