@import '../../styles/variables'

.main-menu
  float: right;
  &__item
    display block
    width 50px
    height 50px
    max-width 100%
    border-bottom 1px solid divider-color
    border-top 1px solid divider-color
    text-decoration none
    color primary-text-color
    background-position 50%
    background-repeat no-repeat
    &:first-child
      border 0
    &:last-child
      border 0

    &_icon
      &_blank
        background-image url(icons/blank.png)
      &_list
        background-image url(icons/list.png)
      &_change
        display none
        background-image url(icons/change.png)

    &_active
      display block
      position relative
      background-color #fff
      border-bottom 0
      border-top 0
      border-radius 3px 0 0 3px
