doctype html
html(lang="en")
    head
        title= dashboard
        link(href="https://yabwe.github.io/medium-editor/bower_components/medium-editor/dist/css/medium-editor.css" rel="stylesheet")
        link(href="styles.css" rel="stylesheet")
    body(ng-app="app")
        .container(ui-view)
        script(src="dashboard.js" type="text/javascript")