doctype html
html(lang="en")
    head
        title= dashboard
    body(ng-app="app")
        form(name="login")
            div
                input(placeholder="login" name="login__name")
                label(for="login__name")= 'login'
            div
                input(placeholder="password" name="login__password")
                label(for="login__password" name="login__password" type="password")= 'password'
            div
                input(type="submit" value="submit" name="login__submit")
        script(type="text/javascript").
            var form = document.forms["login"];
            var submit = form["login__submit"];

            form.onsubmit = function (e) {
                e.preventDefault();
                console.log('submit');
                submit.disabled = true;
                submit.value = 'sending...';
                var login = form["login__name"].value;
                var password = form["login__password"].value;
                var data = 'name=' + encodeURIComponent(login) + '&password=' + encodeURIComponent(password);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/signin', true);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState != 4) return;
                    submit.value = 'submit';
                    submit.disabled = false;
                    if (xhr.status === 200) {
                        window.location = JSON.parse(xhr.response).url;
                    } else {
                        alert(xhr.responseText);
                    }
                };
                xhr.send(data);
            }
