@import '../../styles/variables'
.page
  background-color lightness(primary-color-light, 90%)
  &__menu
    z-index 2
    position relative
    padding 30px 0 30px 30px
  &__container
    z-index 1
    position relative
    padding 25px
    background-color #fff
