<div class="gr-row gr-row_space_bottom_clear page">
    <div class="gr-col gr-col_2 page__menu">
        <main-menu></main-menu>
    </div>
    <div ui-view class="gr-col gr-col_10 page__container"></div>
</div>