body {
    font-size: 1.25em;
    line-height: 2em;
    max-width: 760px;
    margin: 0 auto;
}
h1 {
    font-size: 6.6em;
    line-height: 1.212121212em;
    margin-top: 0.60606061em;
    margin-bottom: 0.3030303em;
}
h2 {
    font-size: 3.5em;
    line-height: 1.142857142em;
    margin-top: 1.14285714em;
    margin-bottom: 0.57142857em;
}
h3 {
    font-size: 1.9em;
    line-height: 1.052631579em;
    margin-top: 1.05263158em;
    margin-bottom: 1.05263158em;
}
h4 {
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}
p, ul, ol, pre, table, blockquote {
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Sanitation */
hr {
    border: 1px solid;
    margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
b, strong, em, small, code {
    line-height: 1;
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}