.editor
  width 100%
  font-size 14px

  &__header
    height auto
    width 100%
    font-size 2em
    padding 10px
    margin-bottom 10px
    border none
    border-bottom 1px solid #cacaca
    outline none

  &__body
    outline none
    padding 10px
    width 100%
    font-size: 1.25em
    line-height: 1.5
