<div class="editor">
    <h1 edit contenteditable class="editor__header" type="text" ng-model="model.header" placeholder="Here is header"></h1>
    <div class="editor__body" edit ng-model="model.body"></div>
    <div class="editor__toolbar"></div>
</div>